@import 'scss/bootstrap-vars';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
#target {
	.tile {
		position: relative;
		margin-bottom: 2em;
		overflow: hidden;
		text-decoration: none;
	}
	.photo {
		background-size: 100%;
		padding-top: 60%;
		background-position: 50% 0%;
		background-repeat: no-repeat;
	}
	.caption {
		position: relative;
		background: rgba(0,0,0,0.8);
		height: 100%;
		color: #eee;
		// color: #333;
	    padding: 15px 10px;
		h1, h2 {
			margin: 0;
			font-weight: 600;
			font-size: 4vw;
			display: inline-block;
			@media screen and (min-width: $screen-sm-min) {
				font-size: 1.25em;
			}
		}
		h2 {
			font-weight: 800;
			display: inline-block;
			margin-right: 0.420em;
			&:after {
				content: ': '
			}
		}
	}
	
}