@import 'scss/bootstrap-vars';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

#target {
	.tile {
		position: relative;
		// margin-bottom: 2em;
		overflow: hidden;
		text-decoration: none;
	}
	.photo {
		padding-top: 63.8%;
		@media screen and (min-width: $screen-sm-min) {
			padding-top: 32%;	
		}
		@media screen and (min-width: $screen-lg-min) {
			padding-top: 21.3%;
		}
		background-size: 100%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		transition: background-size 300ms ease;
		&:hover {
			background-size: 120%;
		}
	}
	.vignette {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.25);
	}
	.caption {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #333;
		& > * {
		    padding: 15px 10px;
		}
	    %headline {
			font-size: 4vw;
			@media screen and (min-width: $screen-sm-min) {
				font-size: 2vw;
			}
	    }
	    .link-out {
	    	display: block;
	    }
		h1 {
			@extend %headline;
			margin: 0 0.420em 0 0;
			font-weight: 800;
		}
		h2 {
			@extend %headline;
			margin: 0;
			font-weight: 600;
		}
		p {
			height: 60px;
		}
	}
	
}