section.about {
  background: #fff;
  // padding-top: 13em;
  line-height: 1.5;

  ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }
  ul, p {
    font-weight: 300;
    font-size: 1em;
  }
  h1 {
    font-weight: 600;
    font-size: 1.5em;
  }
  .jobs li {
    margin-bottom: 1em;
  }
  .portrait {
    position: relative;
    width: 80%;
    padding-top: 80%;
    border-radius: 100%;
    background: url('../images/me.jpg') 50% 50%/140% no-repeat;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      border-radius: 100%;
      background: hsla(0, 50%, 50%, 0.069);
    }
    &:hover::before,
    &:focus::before {
      animation: hue 4s infinite;
    }
  }

}

@keyframes hue {
  0%    { background: hsla(0, 50%, 50%, 0.069); }
  10%   { background: hsla(36, 60%, 50%, 0.069); }
  20%   { background: hsla(72, 70%, 50%, 0.069); }
  30%   { background: hsla(108, 80%, 50%, 0.069); }
  40%   { background: hsla(144, 90%, 50%, 0.069); }
  50%   { background: hsla(180, 100%, 50%, 0.069); }
  60%   { background: hsla(216, 90%, 50%, 0.069); }
  70%   { background: hsla(252, 80%, 50%, 0.069); }
  80%   { background: hsla(288, 70%, 50%, 0.069); }
  90%   { background: hsla(324, 60%, 50%, 0.069); }
  100%  { background: hsla(360, 50%, 50%, 0.069); }
}