$theme-color: #63318C;
@import 'bootstrap-vars';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'projects';
@import 'resume';

$bg: rgba(255,255,255,1);
$text: rgba(0,0,0,0.75);
$text-quiet: rgba(0,0,0,0.5);

body {
	background: $bg;
}
.site-header,
.site-footer {
	background: $bg;
	padding: 1em 0 2em;
  color: $text;
  a {
    color: $text;
    font-size: 0.9em;
    font-weight: 300;
  }
	h1, h2 {
		margin: 1em 0 0;
	}
	* { font-size: 1.069em; }
}
.site-header {
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  @media screen and (min-width: $screen-sm-min) {
    text-align: left;
  }

  nav {
    margin: 2.1em 0 0;
    @media screen and (min-width: $screen-sm-min) {
      margin: 2.7em 0 0;
      float: right;
      text-align: right;
    }
    a {
      text-align: center;
    }
    a.active {
      color: $text-quiet;
      text-decoration: underline;
    }
    .work {
      @extend .col-xs-6;
      @extend .col-sm-5;
      @extend .col-md-4;
      @extend .col-md-offset-3;
      @extend .col-lg-3;
      @extend .col-lg-offset-5;
    }
    .resume {
      @extend .col-xs-6;
      @extend .col-sm-7;
      @extend .col-md-5;
      @extend .col-lg-4;
    }
  }
  cite {
    font-style: normal;
    h1 {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700;
    }
    h2 {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 1px;
      color: $text-quiet;
    }
  }
}
.site-footer {
  font-size: 10px;
  font-weight: 100;
  color: $text-quiet;
}