$theme-color: #63318C;
@import 'bootstrap-vars';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'projects';
@import 'resume';

body {
	background: #eee;
}
.site-header,
.site-footer {
	background: #333;
	padding: 1em 0 2em;
  color: #fff;
  a {
    color: #eee;
  }
	h1, h2 {
		margin: 1em 0 0;
	}
	* { font-size: 1.069em; }
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  cite {
    font-style: normal;
  }
  h1 {
    font-size: 1.187em;
    text-transform: uppercase;
    font-weight: 600;
  }
  h2 {
    font-size: 0.69em;
    text-transform: uppercase;
    font-weight: 300;
  }
  nav {
    margin: 1em 0 0;
  }
}
.portrait {
	position: relative;
	width: 80%;
	padding-top: 80%;
	border-radius: 100%;
	background: url('../images/me.jpg') 50% 50%/140% no-repeat;
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border-radius: 100%;
	    background: hsla(0, 50%, 50%, 0.069);
	}
	&:hover::before,
	&:focus::before {
		animation: hue 4s infinite;
	}
}
@keyframes hue {
  0%    { background: hsla(0, 50%, 50%, 0.069); }
  10%   { background: hsla(36, 60%, 50%, 0.069); }
  20%   { background: hsla(72, 70%, 50%, 0.069); }
  30%   { background: hsla(108, 80%, 50%, 0.069); }
  40%   { background: hsla(144, 90%, 50%, 0.069); }
  50%   { background: hsla(180, 100%, 50%, 0.069); }
  60%   { background: hsla(216, 90%, 50%, 0.069); }
  70%   { background: hsla(252, 80%, 50%, 0.069); }
  80%   { background: hsla(288, 70%, 50%, 0.069); }
  90%   { background: hsla(324, 60%, 50%, 0.069); }
  100%  { background: hsla(360, 50%, 50%, 0.069); }
}